*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 6, 51);
    gap: 1rem;
}
h1{
    color: white;
    /* border: solid black 1px; */
}
.display{
    width: 400px;
    height: 65px;
    border: solid black 1px;
    background-color: rgb(191, 146, 233);
    display: flex;
}
.copybtn{
    background-color: rgb(191, 146, 233);
    border: none;
}
.mbox{
    padding: 10px;
    width: 400px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 146, 233);
    gap: 5px;
}
.strength{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid black 1px; */
}
#ligth{
    height: 20px;
    width: 20px;
    border: solid black 1px;
    border-radius: 15px;
}
.generatebtn{
    width: 280px;
    height: 60px;
    background-color: rgb(58, 98, 98);
    color: rgb(105, 192, 192);
    padding-left: 30px;
}
label{
    font-size: x-large;
}
#newpass{
    size: x-large;
    height: 60px;
    width: 350px;
    background-color: rgb(191, 146, 233);
    color: white;
    display: flex;
    align-items: center;
    font-size:xx-large;
} 
.slider{
    color: brown;
    background-color: brown;
}